<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>orgComboBoxTree</display-name>
  <welcome-file-list>
    <welcome-file>InitTree</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitTree</display-name>
    <servlet-name>InitTree</servlet-name>
    <servlet-class>servlet.InitTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitTree</servlet-name>
    <url-pattern>/InitTree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitTree2</display-name>
    <servlet-name>InitTree2</servlet-name>
    <servlet-class>servlet.InitTree2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitTree2</servlet-name>
    <url-pattern>/InitTree2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpTree</display-name>
    <servlet-name>ExpTree</servlet-name>
    <servlet-class>servlet.ExpTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpTree</servlet-name>
    <url-pattern>/ExpTree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Init</display-name>
    <servlet-name>Init</servlet-name>
    <servlet-class>servlet.Init</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Init</servlet-name>
    <url-pattern>/Init</url-pattern>
  </servlet-mapping>
</web-app>